/config_bak.json
bin
build
logs
*.log
pkg
*.pid
.idea
config.json


/temp.json
test_foo.go
shop_revue.txt

#for my win
run.bat
/martini-api-example
start_demo_bot.exe
taxi_academ_bot.sh

src/github.com/
src/gopkg.in/
src/start_demo_bot

install.sh