
<div id="left-bar" class="col-md-2">
    {{$with := .with}}
    {{$all := "all"}}
    {{$all_tm := "all_team_members"}}
    <div class="row">
        <a class="bg-danger a-contact
        {{if eq_s $with $all}}
        c-active
        {{end}}
        " href="/chat?with={{$all}}">Написать всем</a>
    </div>
    <div class="row">
        <a class="bg-warning a-contact
        {{if eq_s $with $all_tm}}
        c-active
        {{end}}
        " href="/chat?with={{$all_tm}}">Написать всем участникам квестов</a>
    </div>
    <hr>
    <div class="row" id="team-contacts">
        {{range $contact := .contacts}}
        <div class="contact" id="{{$contact.ID}}">
            <a id="a-{{$contact.ID}}" class="bg-success a-contact
            {{if eq_s $with $contact.ID}}
            c-active
            {{end}}
            " href="/chat?with={{$contact.ID}}">
                {{if $contact.IsTeam}}

                Комманда {{$contact.Name}}
            <span class="small" id="s-{{$contact.ID}}">
                {{if $contact.NewMessagesCount}}
                    ( {{$contact.NewMessagesCount}} )
                {{end}}
                {{end}}
            </span>
            </a>
        </div>
        {{end}}
        </div>
        <hr>
    <div class="row" id="man-contacts">
        {{range $contact := .contacts}}
        <div class="contact" id="{{$contact.ID}}">
            <a id="a-{{$contact.ID}}" class="bg-success a-contact
            {{if eq_s $with $contact.ID}}
            c-active
            {{end}}
            " href="/chat?with={{$contact.ID}}">
                {{if $contact.IsTeam}}

                {{else}}
                {{$contact.Name}} [{{$contact.Phone}}]



            <span class="small" id="s-{{$contact.ID}}">
                {{if $contact.NewMessagesCount}}
                ( {{$contact.NewMessagesCount}} )
                {{end}}
            </span>
                {{end}}
            </a>
        </div>
        {{end}}

    </div>
    <hr>

</div>
<div id="chat-window" class="col-md-7">
    <div class="row">
        <div class="message-wrap col-lg-8">
            <div class="msg-wrap" id="chat-wrapper">
                {{range $message := .messages}}
                {{if eq_s $message.From "me" }}
                <div class="media msg">
                    <div class="media-body">
                        <small class="pull-left time"><i class="fa fa-clock-o"></i>{{$message.Time}}</small>
                        <h5 class="media-heading pull-right">{{$message.From}}</h5>
                        <br>
                        <small class="col-lg-10 pull-right bg-info">{{$message.Body}}</small>
                    </div>
                </div>
                {{else}}
                <div class="media msg">
                    <div class="media-body">
                        <small class="pull-right time"><i class="fa fa-clock-o"></i>{{$message.Time}}</small>
                        <h5 class="media-heading">{{$message.From}}</h5>
                        <small class="col-lg-10 bg-success">{{$message.Body}}</small>
                    </div>
                </div>
                {{end}}
                <hr>
                {{end}}

            </div>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="chat-input">
            <form id="chat-form" method="post" action="/send_message">
                <div class="form-group form-inline">
                    <label class="control-label"></label>
                    <textarea class="form-control form-inline" placeholder="..." name="chat-form-message" id="chat-form-message"
                              rows="4" autofocus></textarea>

                    <button type="submit" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="form-group">
                    <input type="hidden" name="from" value="me">
                    <input type="hidden" name="to" value="{{$with}}" id="with">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="right-bar" class="col-md-2">
    {{if .collocutor.IsTeam}}
    <div class="row">
        {{range $team_member := .collocutor.Info.Members}}
        <div class="team-name">
            {{$team_member.Name}}
        </div>
        <div class="team-phone">
            <a href="/chat?with={{$team_member.UserId}}"><h6>{{$team_member.Phone}}</h6></a>
        </div>
        {{end}}
    </div>

    <div class="row">
        <div class="accordion" id="keys-accordion">
            {{range $key := .collocutor.Info.AllKeys}}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <p class="{{if $key.Founded}}
                    bg-danger
                    {{else}}
                    bg-info
                    {{end}}">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#keys-accordion"
                           href="#{{$key.SID}}">
                            {{$key.StartKey}} > {{$key.NextKey}}
                        </a>
                    </p>
                </div>
                <div id="{{$key.SID}}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        {{$key.Description}}
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    {{if .collocutor.IsWinner}}
    <div class="row">
        <h3>WINNER!<br><small>at {{.collocutor.WinTime}}</small></h3>
    </div>
    {{end}}

    {{end}}




    {{if .collocutor.IsMan}}
    <div class="row">
        <h4> {{.collocutor.Name}} <span class="small">{{.collocutor.Info.Phone}}</span></h4>
        {{if .collocutor.Info.Passersby}}
        <p class="bg-warning">Не участник</p>
        {{else}}
        <p class="bg-info">Участник комманды <a class="btn btn-default" href="/chat?with={{.collocutor.Info.TeamName}}">{{.collocutor.Info.TeamName}}</a>
        </p>
        {{end}}

    </div>
    {{end}}
<div class="row">
            {{if .messages}}
            <a href="/delete_chat/{{$with}}" class="btn btn-sm btn-danger">
                Удалить переписку
            </a>
            <span class="bg-success bg-small" id="removed" style="display: none"></span>
            {{end}}

</div>
</div>

<script src="script.js"></script>

