<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <img src="/cat_3.jpg" class="cat-img">
        </div>
        <div class="col-md-6">
            <h2>
                <p class="bg-info">Привет! Тут некоторая информация.</p>
            </h2>
            <h2>Немного про ключи.
                <small>а вообще лучше их наверно называть шаги...</small>
            </h2>
            <p>
            <h3>Те буквы что вводят играющие будем называть маркером.</h3>
            <h3>Шаг состоит из <b>маркера, описания</b> и <b>следующего маркера</b>.</h3>
            <h4>Шаг имеет флажок о найденности :) И теперь их можно изменить:)</h4>
            <h3>Вводимые маркеры имеют такой шаблон:
                <code>#&lt;соль&gt;-&lt;имя_или_номер_комманды&gt;
                </code>
                Где соль это что-то типа [тайм, кличат, новат, *уят]</h3>
            </p>
            <p>
            <h3>Нельзя ввести маркер который является <b>следующим маркером</b> у ключа, который еще не найден.</h3>
            <blockquote>
                В общем, соблюдается последовательность. Но ограничение это на всю комманду, то есть если кто-то другой
                из комманды
                ввел следующий ключ "а" и еще следующий "б" то ты введя еще следущий ключ "в" не получишь ошибки. И вся
                комманда
                продвинется на один шаг вперед.
            </blockquote>
            </p>
            <p>
            <h3><kbd> Начальный маркер </kbd> это тот маркер который не является <b>следующим маркером</b> Ни. У. Кого.
            </h3>
            <h3>Чтобы войти в команду следует ввести <kbd> начальный маркер </kbd>.</h3>
            <h3>Результатом входа будет ответ <b> описанием </b>.</h3>
            <h3>Маркер шага комманды нельзя ввести человеку невошедшему в команду.</h3>
            </p>
            <h2>Про телефоны и комманды</h2>
            <p>
                <h4>Каждый телефон может войти в команду, отправив <kbd>начальный маркер</kbd> c именем комманды;
                    <h4>Или выйти из нее отправкой <kbd>начального маркера</kbd> но для другой комманды.
                        <h4>Следовательно:</h4>
                        <h2>
            <p class="bg-danger"> когда начинается квест сообщите чтобы все участники комманды ввели тот маркер что
                получили в конверте</p></h2>
            </p>
            <p>

            </p>
        </div>
        <div class="col-md-3">
            <img src="/cat_1.jpg" class="cat-img">
        </div>
    </div>
</div>