<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h3>
                <small>Квест в состоянии</small>
                {{if .config.Started}} начат {{else}} окончен {{end}}
            </h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <button class="btn btn-lg btn-block btn-success" onclick="start_quest()">Начать</button>
            <button class="btn btn-lg btn-block btn-default" onclick="stop_quest()">Кончить</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <button class="btn btn-info btn-lg btn-block" data-target="#messages-settings" data-toggle="modal">
                Настройки сообщений
            </button>

            <!-- Modal -->
            <div class="modal fade" id="messages-settings" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3>Настройки сообщений для участников в конце квеста</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form form-horizontal" action="/manage" method="post">
                                <div class="form-group">
                                    <label for="to-winner" class="col-md-12">Сообщение победителям (от квеста):</label>
                                    <textarea id="to-winner" class="form-control"
                                              rows="2" name="to-winner">{{.config.EndMessageForWinners}}</textarea>
                                    <div class="checkbox col-md-12">
                                        <label>
                                            <input type="checkbox" name="to-winner-on"
                                                   {{ if .config.EndMessageForWinnersActive }} checked="checked"
                                                   {{end}}> Отправлять?
                                        </label>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label for="to-not-winner" class="col-md-12">Сообщение не победителям (от квеста):</label>
                                    <textarea id="to-not-winner" class="form-control"
                                              rows="2"
                                              name="to-not-winner">{{.config.EndMessageForNotWinners}}</textarea>
                                    <div class="checkbox col-md-12">
                                        <label>
                                            <input type="checkbox" name="to-not-winner-on"
                                                   {{ if .config.EndMessageForNotWinnersActive }} checked="checked"
                                                   {{end}}> Отправлять?
                                        </label>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label for="to-all" class="col-md-12">Сообщение всем участникам (от КлиЧата):</label>
                                    <textarea id="to-all" class="form-control"
                                              rows="2" name="to-all">{{.config.EndMessageForAll}}</textarea>
                                    <div class="checkbox col-md-12">
                                        <label>
                                            <input type="checkbox" name="to-all-on"
                                                   {{ if .config.EndMessageForAllActive }} checked="checked" {{end}}>
                                            Отправлять?
                                        </label>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label for="not-started" class="col-md-12">Сообщение что квест еще не
                                        начался.</label>
                                    <textarea id="not-started" name="not-started" class="form-control"
                                              rows="2">{{.config.MessageAtNotStartedQuest}}</textarea>

                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-lg btn-info" value="Сохранить">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <button class="btn btn-danger btn-lg btn-block" data-target="#delete-modal" data-toggle="modal">
                Выполнить перезагрузку квеста.
            </button>

            <!-- Modal -->
            <div class="modal fade" id="delete-modal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3>Уверены?</h3>
                        </div>
                        <div class="modal-body">
                            <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">Нет</button>
                            <button type="button" class="btn btn-danger btn-lg" onclick="delete_all_keys()"
                                    data-dismiss="modal">Да
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-3" id="delete-result">

        </div>
    </div>
</div>
<script src="quests_script.js"></script>
