<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" id="left-side-bar">
      <div class="row">
        <form action="/messages_all" method="POST">
          <div class="form-group">
            <label for="message_all">Сообщение всем коммандам: </label>
            <textarea class="form-control" id="message_all" name="message_all" rows="5"> </textarea>
          </div>
        </form>
      </div>
      <h1>Выберите комманду которой требуется написать сообщение</h1>
      {{range $team := .teams}}
      <div class="row">
        <a href="/messages/{{$team.SID}}">Комманда {{$team.Name}}</a>
      </div>
      {{end}}
    </div>
    <div class="col-md-7" id="main-window">
      
    </div>
    <div class="col-md-3" id="right-side-bar">
      <div id="team-info">

      </div>
      <div class="accordion" id="keys-accordion">

      </div>
    </div>
  </div>
</div>