<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <h2>Поступившие ключи от пользователей:</h2>
        </div>
        <div class="col-md-1">
            <button class="btn btn-success" onclick="reload()">Загрузить новые</button>
        </div>
    </div>
    <table class="table table-striped">
        {{range $key := .keys}}
        <tr>
            <td class="col-md-2">
                {{$key.From}}
            </td>
            <td class="col-md-4">
                {{$key.Body}}
            </td>
            <td class="col-md-4">
                {{$key.Time}}
            </td>
        </tr>
        {{end}}
    </table>
</div>
<script>

var reload = function(){
       window.location.reload(1);
}

</script>