#left-side-bar {
	height: 100%;
	background-color: #bfb;
}


#main-window {
	height: 100%;
	background-color: #bbb;
}

#right-side-bar {
	height: 100%;
	background-color: #a9b;
}

#left {
    !postiton:fixed
    bottom: 80;
    right: 10;
    width: 20;
    background-color: green;
}