<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Чего-нибудь тут когда-нибудь будет. <small>А сейчас выбирай вверху...</small> </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img src="cat_2.jpg" class="cat-img">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4>А вообще, Саша сказала мне чтобы кличат бот отвечал на ключи. Вот пожалуйста: <a href="/new_keys"><span class="bg-info">добавить информационные ключи</span></a> (как и навреху)
            добавляйте, пробуйте. Здесь нет команд как в квестах. Простой матчинг входных сообщений и ответ если есть описание.
            </h4>


        </div>
    </div>
</div>