<link rel="stylesheet" href="ext_res/css/ext-all.css">
<script src="ext-all-dev.js"></script>
<script src="script.ext-js.js"></script>

<div id="profile-form">
    <div id="profile-form-photo">
        <input type="file">
        <img src="cat.jpg" id="profile-photo-img">
    </div>
    <div class="contact">
        <h2>Contact</h2>
        <div class="contact-link">
            <h2>Contact link</h2>
        </div>
    </div>
</div>

<div id="content">
    <div class="text">Текст1</div>
    <div>Текст2</div>
    <div class="text">Текст3</div>
    <div>Текст4</div>
</div>

<ul id="menu">
    <li class='buy'>Купить</li>
    <li class='sell'>Продать</li>
    <li class='exit'>Выход</li>
</ul>