<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2> Добавьте нового пользователя: </h2>
            <form action="/users/add" method="post" id="manage-user-form">
                <div class="form-group">
                    <label for="user-id"> Идентификатор: </label>
                    <input type="text" class="form-control" id="user-id" name="user-id">

                    <label for="user-name">Имя: </label>
                    <input type="text" class="form-control" id="user-name" name="user-name">

                    <label for="user-phone"> Телефон: </label>
                    <input type="text" class="form-control" id="user-phone" name="user-phone">

                    <label for="user-e-mail"> Емеил: </label>
                    <input type="text" class="form-control" id="user-e-mail" name="user-e-mail">

                    <label for="user-pwd"> Пароль: </label>
                    <input type="text" class="form-control" id="user-pwd" name="user-pwd">
                </div>

                <div class="form-group">
                    <label for="role">Роль:</label>
                    <input type="text" class="form-control" id="role" name="user-role" value="manager">
                    <label for="read-rights">Права на чтение (через пробел):</label>
                    <input type="text" class="form-control" id="read-rights" name="read-rights">
                    <label for="write-rights">Права на запись (через пробел):</label>
                    <input type="text" class="form-control" id="write-rights" name="write-rights">
                    <label for="belongs-to">Принадлежит компании:</label>
                    <input type="text" class="form-control" id="belongs-to" name="belongs-to">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Добавить</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        {{if .is_error}}
        <div class="col-md-5 col-md-offset-3">
            <div class="alert alert-warning">
                {{.error_text}}
            </div>
        </div>
        {{end}}
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Идентификатор</td>
                <td>Имя</td>
                <td>Телефон</td>
                <td>Емейл</td>
                <td>Роль</td>
            </tr>

            </thead>
            {{range $user := .users}}
            <tr>
                <td class="col-md-2">
                    {{$user.UserId}}
                </td>
                <td class="col-md-2">
                    {{$user.UserName}}
                </td>
                <td class="col-md-2">
                    {{$user.Phone}}
                </td>

                <td class="col-md-2">
                    {{$user.Email}}
                </td>

                <td class="col-md-2">
                    {{$user.Role}}
                </td>

                <td class="col-md-1">

                    <button type="submit" class="btn btn-main change-user-button"
                            data-target="#change-user-modal-{{clear $user.UserId}}" data-toggle="modal">Изменить
                    </button>


                    <!-- Modal -->
                    <div class="modal fade" id="change-user-modal-{{clear $user.UserId}}" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">

                                    <form action="/users/update/{{$user.UserId}}" method="post">
                                        <div class="form-group">
                                            <label for="user-name-{{$user.UserId}}">Имя </label>
                                            <input type="text" class="form-control" id="user-name-{{$user.UserId}}"
                                                   name="user-name" value="{{$user.UserName}}">

                                            <label for="user-phone-{{$user.UserId}}">Телефон </label>
                                            <input type="text" class="form-control" id="user-phone-{{$user.UserId}}"
                                                   name="user-phone" value="{{$user.Phone}}">

                                            <label for="user-e-mail-{{$user.UserId}}">e-mail </label>
                                            <input type="text" class="form-control" id="user-e-mail-{{$user.UserId}}"
                                                   name="user-e-mail" value="{{$user.Email}}">

                                            <label for="user-role-{{$user.UserId}}">Роль </label>
                                            <input type="text" class="form-control" id="user-role-{{$user.UserId}}"
                                                   name="user-role" value="{{$user.Role}}">

                                            <label for="user-pwd-{{$user.UserId}}">Пароль </label>
                                            <input type="text" class="form-control" id="user-pwd-{{$user.UserId}}"
                                                   name="user-pwd">

                                            <label for="read-rights-{{$user.UserId}}">Права на чтение (через
                                                пробел):</label>
                                            <input type="text" class="form-control" id="read-rights-{{$user.UserId}}"
                                                   name="read-rights" value="{{from_slice $user.ReadRights}}">

                                            <label for="write-rights-{{$user.UserId}}">Права на запись (через
                                                пробел):</label>
                                            <input type="text" class="form-control" id="write-rights-{{$user.UserId}}"
                                                   name="write-rights" value="{{from_slice $user.WriteRights}}">

                                            <label for="belongs-to-{{$user.UserId}}">Принадлежит компании:</label>
                                            <input type="text" class="form-control" id="belongs-to-{{$user.UserId}}"
                                                   name="belongs-to" value="{{$user.BelongsTo}}">

                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-info">Применить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </td>
                <td class="col-md-1">
                    <form action="/users/delete/{{$user.UserId}}" method="post">
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </div>
                    </form>
                </td>
            </tr>
            {{end}}
        </table>
    </div>
</div>